* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
}
#lmain{
    width: 70%;
    height: 80%;
    background-color: beige;
}
#rmain{
width: 30%;
height: 80%;
background-color: #fff;
}
#llmain{
    width: 70%;
    height: 20%;
    background-color:blue;
}