* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
}
#lmain {
  width: 75%;
  height: 100%;
}

#lmain #lmaintop {
  width: 100%;
  height: 80%;
  background-image: url("plant.jpg");
  background-size: cover;
}

#lmain #lamainbottom {
  width: 100%;
  height: 20%;
  background-color: #222;
  padding: 20px 50px;
}

#content {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
#contentleft {
  width: 45%;
  height: 100%;
}
#contentleft p {
  width: 75%;
  margin-top: 20px;
  font-size: 12px;
}
#contentright {
  width: 45%;
  height: 100%;
}

.row1 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.rrow1 {
  padding-right: 200px;
}
.rrow1 p {
  opacity: 0.5;
  font-weight: 500;
}
.row2 {
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}
#rmain {
  width: 25%;
  height: 100%;
}

#rmain #rmaintop {
  width: 100%;
  height: 80%;
  background-color: #fff;
}

#rmain #rmainbottom {
  width: 100%;
  height: 20%;
  background-color: #dadada;
}
